.tp-section{
  padding:80px 20px;
  background:#f8f9fc;
}

.tp-container{
  max-width:1200px;
  margin:auto;
}

.tp-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:40px;
  flex-wrap:wrap;
  gap:20px;
}

.tp-header h2{
  font-size:38px;
  margin-bottom:8px;
}

.tp-header p{
  color:#666;
}

.tp-view{
  border:none;
  background:linear-gradient(90deg,#7C6BFF,#FF6A6A);
  color:white;
  padding:12px 20px;
  border-radius:12px;
  cursor:pointer;
  font-weight:600;
}

@media(max-width:768px){

  .tp-header{
    flex-direction:column;
    align-items:flex-start;
  }

}